<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trident Automation Tests" thread-count="1" verbose="1">

	<test name="Trident">
		<parameter name="selenium.host" value="localhost" />
		<parameter name="selenium.port" value="3737" />

		<classes>
			<class name="com.trident.tests.TridentPagesTests" />
			

		</classes>
	</test>

</suite>

